body{
    background-color: #7e7e7e;
   
}

.flex-container{
    display: flex;
    background-color:aliceblue ;
    justify-content: center;
    

}

.flex-container > div{
    background-color: aliceblue;
    margin:auto;
    
}